.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark: hsl(234, 12%, 34%);
    --grayish: hsl(229, 6%, 66%);
    --light: hsl(0, 0%, 98%);
}

.footer {
    padding: 0;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; */
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding-left: 5%;
}

.box {
    border-top: 5px solid;
    width: 345px;
    height: 200px;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 5px 5px 5px 5px var(--grayish);
    position: relative;
}

.one {
    grid-row: 1/ span 2;
}

.three {
    grid-row: 2 / span 2;
}

h1 {
    font-weight: 200;
    color: var(--dark);
    text-align: center;
}

h2 {
    color: var(--dark);
    text-align: center;
}

p {
    font-weight: 200;
    color: var(--grayish);
    padding-bottom: 5%;
}

.intro p {
    text-align: center;
}

.one {
    border-top-color: var(--cyan);
}

.two {
    border-top-color: var(--red);
}

.three {
    border-top-color: var(--orange);
    margin-top: 5%;
}

.four {
    border-top-color: var(--blue);
}

img {
    position: absolute;
    right: 0;
    padding-right: 10%;
}


/* @media screen and (min-width: 375px) {
    .grid-container {
        flex-wrap: wrap;
    }
} */